/* 네비게이션
--------------------------------------------------------------------------------------- */
#topNavigation {font-size:20px; color:#000000; width:1200px; margin-bottom:10px;}
.detailDressButton {font-size:20px; color:#000000; margin-top:65px; border-bottom:1px solid black; border-right:1px solid black;}


/* 왼쪽부분
--------------------------------------------------------------------------------------- */
#mainDressDetail {font-size:20px; color:#000000; }
#dressDetailCell1 {width:650px; height:800px; overflow:hidden;}
#dressPhotoDiv {height:700px; border:2px solid black; border-bottom:none; background:#000000;}
#dressBigImg {height:700px;}
#dressDetailCell1 .dressPhotoListDiv {height:100px; width:650px; border:2px solid black; border-top:none; overflow:auto; overflow-y:hidden; overflow-x:hidden;}
#dressPhotoListTable .dressListCell {height:100px; width:90px; border:1px solid black;}
#dressPhotoListTable td {}

.dressPhotoListScroll {width:50px; height:100px;padding:0px; margin:0px; position:relative; font-size:60px; background:rgba(255,255,255,0.5); cursor:pointer; margin-bottom:-100px; display:none;}
#scrollLeftButton {top:-102px; left:2px;}
#scrollRightButton {top:-102px; margin-left:546px;}


/* 오른쪽부분
--------------------------------------------------------------------------------------- */
#dressDetailCell2 { width:500px; height:800px; padding-left:10px;}
#designerTable {height:200px; border-collapse:separate; border-spacing:10px 0px;}
#designerTable .designerPicCell {height:200px; width:160px; border:2px solid black;}
#designerPicImg {height:170px; width:160px; margin-bottom:-5px;}
#designerName {height:30px; font-size:15px;border-top:2px solid black; padding-top:5px; margin-bottom:-5px;}
#designerTable .designConceptCell {height:200px; width:320px; margin-left:10px; border:2px solid black;}


#archiveTable {height:40px; border-collapse:separate; border-spacing:10px 0px; margin-top:30px;}
#archiveTable .archiveGraphCell {width:330px; border:2px solid black;}
#archiveGraphText {width:330px; height:40px; color:#000000; background:rgba(255,255,255,0)}
#archiveGraphFill { width:100px; height:40px; background:#8888ff; margin-bottom:-40px; }
#archiveTable .storeButtonCell {width:140px; border:2px solid black;}
#storeButton {width:140px; height:40px; font-size:18px; border:1px solid #cccccc; border-bottom:1px solid black; border-right:1px solid black;}

#otherDressDiv {height:150px; margin-top:30px; margin-left:10px;}
#otherDressDiv .otherDressText {height:30px; width:470px; padding-left:10px; border-bottom:1px solid blue; font-size:18px;}
#otherDressTable {border-collapse:separate; border-spacing:10px; margin-left:-10px;}
#otherDressTable td {border:1px solid black; width:90px; height:100px;}
#otherDressTable .otherDressImg {height:100px;}


#userCommentDiv {height:200px; margin-top:30px; margin-left:10px;}
#userCommentDiv .userCommentTitle {height:30px; width:470px; padding-left:10px; border-bottom:1px solid blue; font-size:18px;}
#userCommentDiv td {border-bottom:1px dotted black; width:470px; height:30px; font-size:15px; }

/* 드레스 클릭
--------------------------------------------------------------------------------------- */

#photoFocusGrayDiv {position:absolute; width:100%;height:100%; background:rgba(0,0,0,0.8); z-index:101; display:none;}
#focusedPhotoDiv {width:650px; height:700px; margin-top:0px; background-color:#ffffff;}