/* main
--------------------------------------------------------------------------------------- */
#mainDiv {width:800px; height:800px; margin-right:160px; margin-top:55px; background-color:#ffffff; border-right:1px solid #4580ba; border-left:1px solid #4580ba; padding:20px; font-size:14px;}